<section class="upcoming-launches">
    <h1 class="header-text">Upcoming Launches</h1>
    <div class="radio-toolbar">
        <input type="radio" id="radioApple" name="radioFruit" value=true checked (change)="toggleLaunchType($event.target.value)">
        <label for="radioApple">Upcoming</label>

        <input type="radio" id="radioBanana" name="radioFruit" value=false (change)="toggleLaunchType($event.target.value)">
        <label for="radioBanana">Previous</label>
    </div>
    <div
        infinite-scroll
        [infiniteScrollDistance]="distance"
        (scrolled)="onScroll()">
        <app-launch-card class="light" *ngFor="let l of launches" [launch]=l></app-launch-card>
    </div>
    <div *ngIf="!fetchedAll" class="loading-card"></div>
</section>