:host-context(.light) .launch {
  margin: 0px auto;
  margin-top: 30px;
}

:host-context(.dark) .launch {
  margin: 0px auto;
}

.card {
  display: flex;
  flex-direction: column;
  color: #fff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.45);
  border-radius: 30px;
  overflow: hidden;
  width: 400px;
}

:host-context(.light) .card {
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.3)
  );
  backdrop-filter: blur(0.2rem);
  -webkit-backdrop-filter: blur(0.2rem);
}

:host-context(.dark) .card {
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.35);
  width: 100%;
}

.image {
  height: 300px;
  width: 100%;
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 15px;
  color: #fff;
}

.text-container > * + * {
  margin-top: 15px;
}

.pill {
  color: #fff;
  font-weight: 500;
  font-size: 1.5rem;
  text-align: center;
  line-height: 50px;
  border-radius: 15px;
  margin-right: auto;
  padding: 0 10px;
  box-shadow: 0 6px 9px rgba(0, 0, 0, 0.1);
}

.launch-title {
  font-size: 24px;
  font-weight: 400;
  margin-top: 10px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  color: #353535;
  border-radius: 15px;
  box-shadow: 0 6px 9px rgba(0, 0, 0, 0.1);
}

.launch-date {
  font-weight: 300;
  font-size: 20px;
  margin-top: 10px;
}

.countdown {
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  padding: 10px 0;
}

.launch-button-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 10px;
}

button {
  width: 100%;
  padding: 10px;
  cursor: pointer;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 15px;
  outline: none;
  font-size: 1rem;
  font-weight: 300;
  user-select: none;
  -webkit-user-select: none;
  box-shadow: 0 6px 9px rgba(0, 0, 0, 0.1);
}

button:hover {
  background-color: var(--secondary-color);
}

/* More Info Page */
:host-context(.dark) .launch-button-row {
  display: none;
}

@media (max-width: 370px) {
  .launch-button-row {
    grid-template-columns: 1fr;
  }

  .launch-button-row > * + * {
    margin-left: 0;
    margin-top: 10px;
  }

  button {
    font-size: 1.25rem;
  }
}

@media (min-width: 550px) {
  button {
    font-size: 1rem;
    min-width: 100px;
  }
  .launch {
    max-width: 1200px;
  }
  .launch-title {
    font-size: 26px;
  }
  .launch-date,
  .countdown {
    font-size: 22px;
  }
  .card {
    flex-direction: row;
    width: 100%;
  }
  .image {
    height: 420px;
  }
  .text-container {
    justify-content: space-between;
    margin: 25px;
    width: 100%;
    max-width: 660px;
    text-align: center;
  }
  .pill {
    margin: 0 auto;
    font-size: 2rem;
  }
}

@media (min-width: 768px) {
  button {
    font-size: 1.2rem;
    min-width: 145px;
  }
  .image {
    height: 500px;
  }
  .launch-title {
    font-size: 30px;
  }
  .launch-date,
  .countdown {
    font-size: 28px;
  }
}
