<section class="launch flex">
    <div class="card">
        <div class="image" [ngStyle]="{'background-image': 'url(' + image +
            ')'}" style="background-position: center; background-size: cover;"></div>
        <div class="text-container">
            <div class="pill" [ngStyle]="{'background-color': 'var(' +
                statusColor + ')'}" alt="launch status">{{ status }}</div>
            <h1 class="launch-title">{{ name }}</h1>
            <h2 class="launch-date">{{ date }}</h2>
            <app-countdown-timer [launchDate]=launchDate></app-countdown-timer>
            <div class="launch-button-row">
                <a *ngIf="watch_url" href="{{ watch_url }}">
                    <button type="button">Watch</button>
                </a>
                <a *ngIf="!watch_url" href="javascript:void(0)">
                    <button type="button">No Video</button>
                </a>
                <a href="upcoming-launches/{{ id }}">
                    <button type="button">More Info</button>
                </a>
                <a href="#">
                    <button type="button">Share</button>
                </a>
            </div>
        </div>
    </div>
</section>