<section class="about">
    <h1 class="header-text">About</h1>
    <div class="about-site-section">
        <h1 class="sub-title">The Site</h1>
        <p>
            Ground Control is a simple web app for viewing rocket launches and
            current space related news! Check out upcoming/past rocket launches
            on the launches page.
        </p>
        <h1 class="sub-title">Technologies Used</h1>
        <div class="horizontal-content-container">
            <div class="text-content">
                <h3>Front-End</h3>
                <p>Tecnologies Used: Angular (Typescript, HTML5, CSS3)</p>
            </div>
            <img src="assets/images/angular.svg" alt="">
        </div>
        <div class="horizontal-content-container">
            <div class="text-content">
                <h3>Back-End</h3>
                <p>Technologies Used: Netlify Functions, Express/NodeJS, Heroku
                    Scheduler</p>
            </div>
            <img src="assets/images/serverless.svg" alt="">
        </div>
    </div>
    <div class="about-sources-section">
        <h1 class="sub-title">The Data</h1>
        <div class="sources-card-container">
            <div class="source-title-card">
                <img src="assets/images/the-space-devs-logo.svg" alt="">
                <h1 class="source-card-header">The Space Devs</h1>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                    Labore
                    ipsum dolorem voluptates vel doloribus quisquam, libero
                    tenetur
                    placeat inventore atque?</p>
                <button>Visit</button>
            </div>
            <div class="source-card">
                <img src="assets/images/launch-library-logo.svg" alt="">
                <h1 class="source-card-header">Launch Library</h1>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                    Labore
                    ipsum dolorem voluptates vel doloribus quisquam, libero
                    tenetur
                    placeat inventore atque?</p>
            </div>
            <div class="source-card">
                <img src="assets/images/news-library-logo.svg" alt="">
                <h1 class="source-card-header">News Library</h1>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                    Labore
                    ipsum dolorem voluptates vel doloribus quisquam, libero
                    tenetur
                    placeat inventore atque?</p>
            </div>
        </div>
    </div>
    <div class="about-me-section">
        <div class="about-me-image">
        </div>
        <div class="about-me-content">
            <h1 class="sub-title">The Developer</h1>
            <a href="https://github.com/Bradyac">GitHub</a>
        </div>
    </div>
</section>
