<section class="about">
    <h1 class="header-text">About</h1>
    <div class="about-site-section">
        <h1 class="sub-title">The Site</h1>
        <p>Ground Control is a simple web app for viewing information on rocket launches and space related articles.
            As of right now you can explore upcoming rocket launches on the launches page or browse articles on the home page! More features
            may be added in the future! 😀</p>
        <h1 class="sub-title">Technologies Used</h1>
        <div class="horizontal-content-container">
            <div class="text-content">
                <h3>Front-End</h3>
                <p>Built with Angular, the front-end is a SPA that utilizes modules HTTPClient, NgxPagination, Clipboard, Routing and
                    custom components/services. The design was made to be simple, clean and uniform across the site. Content boxes are made
                    to appear like glass, allowing the details of the applications background to come through. Each page has some different
                    variation of the glass styled content boxes making them all unique yet uniform.</p>
                <br>
                <p>Technologies Used: Angular (Typescript, HTML5, CSS3)</p>
            </div>
            <img src="assets/images/angular.svg" alt="">
        </div>
        <div class="horizontal-content-container">
            <div class="text-content">
                <h3>Back-End</h3>
                <p>Data for the site is fetched from a public API and is stored in a NoSQL database. Then on request from the front-end the
                    data is fetched from the database via serverless Lambda functions.</p>
                <p>Data is not directly loaded from the public API to the front-end to reduce the amount of requests to the API. New/updated
                    data is loaded into the database daily and requests to the database from the front-end are unlimited.</p>
                <br>
                <p>Technologies Used: Netlify (Hosting+Functions), Node.js/Express (JavaScript), MongoDB/Mongoose, Heroku Scheduler</p>
            </div>
            <img src="assets/images/serverless.svg" alt="">
        </div>
    </div>
    <div class="about-sources-section">
        <h1 class="sub-title">The Data</h1>
        <div class="sources-card-container">
            <div class="source-title-card">
                <img src="assets/images/the-space-devs-logo.svg" alt="">
                <h1 class="source-card-header">The Space Devs</h1>
                <p>The Space Devs is a group of space enthusiast developers working on a range of services, united in a common goal to
                    improve public knowledge and accessibility of spaceflight information. They are the providers of both public FREE APIs
                    used in this application. To learn more click the link below to visit their website!</p>
                <a href="https://thespacedevs.com/"><button>Visit</button></a>
            </div>
            <div class="source-card">
                <img src="assets/images/launch-library-logo.svg" alt="">
                <h1 class="source-card-header">Launch Library</h1>
                <p>The Launch Library is a public API that tracks all orbital and popular suborbital rocket launches. This service provides
                    the details on upcoming rocket launches throughout the application.</p>
            </div>
            <div class="source-card">
                <img src="assets/images/news-library-logo.svg" alt="">
                <h1 class="source-card-header">SNAPI</h1>
                <p>The Spaceflight News API, or SNAPI for short, is a public API for providing regularly updated space related news. This
                    service provides the articles found on the home page.</p>
            </div>
        </div>
    </div>
    <div class="about-me-section">
        <div class="about-me-image">
        </div>
        <div class="about-me-content">
            <h1 class="sub-title">The Developer</h1>
            <p>My name is <strong>Brady Cunningham</strong> and I am the developer behind this web application. I am a recent graduate from
                the Computer Science program at Ryerson University.</p>
            <br>
            <p>I built this application to learn and practice working with modern web technologies and public APIs. Recently, I have been
                gaining interest in keeping up with development and progress in the many rocket and space programs around the world. The
                work at SpaceX has me particularly excited! After discovering the <strong>FREE API</strong> provided by <strong>The Space
                    Devs</strong> I was able to create a web application that merged my new interests with my pursuit to build an
                application with a modern web tech stack.
            </p>
            <p><strong>SUCCESS!</strong> I am excited now to be able to follow along with these space related efforts
                around the world from my own application and to provide another outlet for others excited about space to explore!</p>
            <br>
            <h1><a href="https://github.com/Bradyac">GitHub</a></h1>
        </div>
    </div>
</section>
