<section class="upcoming-launches">
    <h1 class="header-text">Launches</h1>
    <div class="radio-toolbar">
        <input type="radio" id="upcoming-launches-rb" name="radioLaunchTypes" value=true checked
            (change)="toggleLaunchType($event.target.value)">
        <label for="upcoming-launches-rb">Upcoming</label>

        <input type="radio" id="previous-launches-rb" name="radioLaunchTypes" value=false (change)="toggleLaunchType($event.target.value)">
        <label for="previous-launches-rb">Previous</label>
    </div>
    <div
        infinite-scroll
        [infiniteScrollDistance]="distance"
        (scrolled)="onScroll()">
        <app-launch-card class="light" *ngFor="let l of launches" [launch]=l></app-launch-card>
    </div>
    <div *ngIf="!fetchedAll" class="loading-card"></div>
</section>