<section class="upcoming-launches">
    <h1 class="header-text">Launches</h1>
    <div class="radio-toolbar">
        <input type="radio" id="upcoming-radio-button" value=true checked (change)="toggleLaunchType($event.target.value)">
        <label for="upcoming-radio-button">Upcoming</label>

        <input type="radio" name="previous-radio-button" value=false (change)="toggleLaunchType($event.target.value)">
        <label for="previous-radio-button">Previous</label>
    </div>
    <div
        infinite-scroll
        [infiniteScrollDistance]="distance"
        (scrolled)="onScroll()">
        <app-launch-card class="light" *ngFor="let l of launches" [launch]=l></app-launch-card>
    </div>
    <div *ngIf="!fetchedAll" class="loading-card"></div>
</section>