@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");
:root {
  --primary-color: #01294f;
  --secondary-color: #0360ba;
  --dark-color: #002240;
  --light-color: #f4f4f4;
  --success-color: #5cb85c;
  --error-color: #d9534f;
  --warning-color: #e77218;
  --default-color: grey;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  padding: 0 30px;
  height: 100vh;
  background-image: url("assets/images/bg.svg");
  background-attachment: fixed;
  background-size: cover;
}

body {
  padding-bottom: 30px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.header-text {
  text-align: center;
  color: #fff;
  font-size: 28px;
  font-weight: 300;
}

@media (max-width: 550px) {
  html {
    padding: 0 10px;
  }
}

@media (min-width: 550px) {
  .header-text {
    font-size: 42px;
  }
}

/* Utilities */

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
